@use "../base/variables" as *;

.manage-users{
  padding:30px 0;
}

.user-table{
  overflow-x:auto;
}

.user-card{
  background:white;

  padding:20px;

  border-radius:$radius;

  box-shadow:$shadow;

  margin-bottom:20px;
}

.user-card img{
  width:70px;
  height:70px;

  border-radius:50%;
}

.action-buttons{
  display:flex;
  gap:10px;
  margin-top:15px;
}

.delete-btn{
  background:$danger;
}

.edit-btn{
  background:$primary;
}