@use "../base/variables" as *;

.cards{
  display:grid;

  grid-template-columns:
  repeat(auto-fit,minmax(250px,1fr));

  gap:20px;
}

.card{
  background:white;

  padding:25px;

  border-radius:$radius;

  box-shadow:$shadow;
}

@media(max-width:$mobile){

  .cards{
    grid-template-columns:1fr;
  }

}